.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(7, 82, 53, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link.active {
  border-bottom: 2px solid white;
  color: white;
}

.mt-4 {
  margin-top: 4rem;
}

.unduh {
  border-radius: 50px;
  background-color: rgba(7, 82, 53, 1);
}

.unduh a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
